<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="Ramblers Events" name="ra_events">
	<field
            name="events_max_chars"
            type="text"
            filter="integer"
            label="Max chars to display"
            description="Maximum number of characters from Details to display"
            default="1500"
    />  
        <field
            name="show_group"
            type="radio"
            default="1"
            label="Include Group code"
            description="Require specification of the Group for each Event"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>      
        <field
            name="default_group"
            type="text"
            showon="show_group:1"
            filter="alnum"
            label="Default Group code"
            description="Default Group for each Event"
        /> 
    </fieldset>
    <fieldset label="Emails" name="emails">
        <field name="email_header" 
               editor="|" 
               buttons="true" 
               filter="raw"
               type="editor" 
               default="Sent from the Group website by the software package RA Events" 
               label="Email Header" 
               description="Text at the top of all messages from this component"/>        
        <field name="header_height"
               maxlength="3" 
               filter="safehtml" 
               type="text" 
               label="Header height" 
               description="Height of the overall header, in pixels" 
               default="150"/>     
        <field
            name="colour_header" 
            type="color" 
            format="rgba"
            label="Header colour"
            default="rgba(246, 177, 157, 0.5)"
            description="Background colour of the email header"
        /> 
        <field name="image_height"
               maxlength="3" 
               filter="safehtml" 
               type="text" 
               label="Image height" 
               description="Height of the header image, in pixels" 
               default="90"/>   
        <field name="image_width"
               maxlength="3" 
               filter="safehtml" 
               type="text" 
               label="Image width" 
               description="Width of the header image, in pixels" 
               default="90"/>      
    </fieldset>
    <fieldset label="Bookings" name="bookings">
	<field
            name="max_bookings"
            type="text"
            filter="integer"
            label="Default maximum"
            description="Default for Maximum number of bookings"
            default="20"
        />          
        <field
            name="default_contact"
            type="sql"
            label="Default contact"
            description="Person to be contacted about Events if no contact available"
            sql_select="id, name" 
            sql_from="`#__contact_details` WHERE published=1" 
            key_field="id" 
            value_field="name"
            required="true"
        />         
        <field name="default_message" 
               editor="|" 
               buttons="true" 
               filter="raw"
               type="editor" 
               default="A Shared Event has been copied into the database, but the contact was blank of missing. You have temporarily been designated as the point of contact.
Please arrange for an appropriate Contact to be created on your site. Once this is done, the Event will automatically be updated to remove your name." 
               label="Default Message" 
               description="Text to be emailed to the default contact"/> 
        <field
            name="booking_list_public"
            type="radio"
            default="1"
            label="Make booking list public"
            description="Specify whether booking list is available to all logged in users"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="1">JYES</option>
        </field>
        <field name="booking_receipt"
               editor="|" 
               buttons="true" 
               filter="ComponentHelper::filterText" 
               type="editor" 
               default="Thank you" 
               label="Booking receipt" 
               description="Message to be sent when booking has been received"/>
    </fieldset>
    <fieldset name="component">
        <field
            name="save_history"
            type="radio"
            default="0"
            label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
            description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>

     
        <field
          name="sef_ids"
          type="radio"
          layout="joomla.form.field.radio.switcher"
          default="0"
          label="JGLOBAL_SEF_NOIDS_LABEL"
          description="JGLOBAL_SEF_NOIDS_DESC"
          filter="integer"
          >
          <option value="0">JNO</option>
          <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" 
               type="rules" 
               component="com_ra_events" 
               class="inputbox" 
               filter="rules" 
               validate="rules" 
               label="JCONFIG_PERMISSIONS_LABEL" 
               section="component" />
    </fieldset>    
</config>
<!--
########################################################################################
The following are a list of all the different types of fields you can add to this file
They are here for copy pasting - neat eh?
########################################################################################

https://docs.joomla.org/Standard_form_field_types
<field name="mycalendar" type="calendar" default="5-10-2008" label="Select a date" description="" format="%d-%m-%Y" />

https://docs.joomla.org/Standard_form_field_types
<field name="mycategory" type="category" label="Select a category" description="" section="3" />

https://docs.joomla.org/Standard_form_field_types
<field name="myeditor" type="editors" default="none" label="Select an editor" />

https://docs.joomla.org/Standard_form_field_types
<field name="myfile" type="filelist" default="" label="Select a file" description="" directory="administrator" filter="" exclude="" stripext="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myfolder" type="folderlist" default="" label="Select a folder" directory="administrator" filter="" exclude="" stripext="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myhelpsite" type="helpsites" default="" label="Select a help site" description="" />

https://docs.joomla.org/Standard_form_field_types
<field name="mysecretvariable" type="hidden" default="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myimage" type="imagelist" default="" label="Select an image" description="" directory="" exclude="" stripext="" />

https://docs.joomla.org/Standard_form_field_types
<field name="mylanguage" type="languages" client="site" default="en-GB" label="Select a language" description="" />

https://docs.joomla.org/Standard_form_field_types
<field name="mylistvalue" type="list" default="" label="Select an option" description="">
  <option value="0">Option 1</option>
  <option value="1">Option 2</option>
</field>

https://docs.joomla.org/Standard_form_field_types
<field name="mymenu" type="menu" default="mainmenu" label="Select a menu" description="Select a menu" />

https://docs.joomla.org/Standard_form_field_types
<field name="mymenuitem" type="menuitem" default="45" label="Select a menu item" description="Select a menu item" />

https://docs.joomla.org/Standard_form_field_types
<field name="mypassword" type="password" default="secret" label="Enter a password" description="" size="5" />

https://docs.joomla.org/Standard_form_field_types
<field name="myradiovalue" type="radio" default="0" label="Select an option" description="">
  <option value="0">1</option>
  <option value="1">2</option>
</field>

https://docs.joomla.org/Standard_form_field_types
<field type="spacer" default="&lt;b&gt;Advanced parameters&lt;/b&gt;" />

https://docs.joomla.org/Standard_form_field_types
<field name="myfield" type="sql" default="10" label="Select an article" query="SELECT id, title FROM #__content" key_field=”id” value_field=”title” />

https://docs.joomla.org/Standard_form_field_types
<field name="mytextvalue" type="text" default="Some text" label="Enter some text" description="" size="10" />

https://docs.joomla.org/Standard_form_field_types
<field name="mytextarea" type="textarea" default="default" label="Enter some text" description="" rows="10" cols="5" />

https://docs.joomla.org/Standard_form_field_types
<field name="mytimezone" type="timezones" default="-10" label="Select a timezone" description="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myusergroups" type="usergroup" default="" label="Select a user group" description="" />


-->
